.botpic{
    border-radius: 50px;
    width: 64px;
    height: 64px;
    border-style: solid;
    border: none;
    overflow: hidden;
    margin: 10px
}

.botpicBox{

    position: relative;
}


.abstandRechts{
    flex-grow: 1;
}

.botButton{
    background-color: var(--dark4);
    border-radius: 5px;
    padding: 2px 6px;
    text-align: center;
    margin-top: 6px;
    width: 80px;
}

.botName{
    /*background-color: var(--dark4);*/
    /*border-radius: 5px;*/
    padding: 2px 6px;
    /*text-align: center;*/
    /*width: 250px;*/
    /*margin-left: 10px*/
}

.online{
    background-color: rgb(0, 156, 13);
    border-radius: 100px;

    position: absolute;
    top:40px;
    left:50px;
    height: 24px;
    width: 24px;

    border-width: 4px;
    border-style: solid;
    border-color: var(--dark2);

    text-align: center;
}

.starting{
    background-color: rgb(255, 166, 0);
    border-radius: 100px;

    position: absolute;
    top:40px;
    left:50px;
    height: 24px;
    width: 24px;

    border-width: 4px;
    border-style: solid;
    border-color: var(--dark2);

    text-align: center;
}

.stopping{
    background-color: rgb(255, 166, 0);
    border-radius: 100px;

    position: absolute;
    top:40px;
    left:50px;
    height: 24px;
    width: 24px;

    border-width: 4px;
    border-style: solid;
    border-color: var(--dark2);

    text-align: center;
}

.offline{
    background-color: rgb(201, 0, 0);
    border-radius: 100px;

    position: absolute;
    top:40px;
    left:50px;
    height: 24px;
    width: 24px;

    border-width: 4px;
    border-style: solid;
    border-color: var(--dark2);

    text-align: center;
}

.unset{
    background-color: rgb(100, 100, 100);
    border-radius: 100px;

    position: absolute;
    top:40px;
    left:50px;
    height: 24px;
    width: 24px;

    border-width: 4px;
    border-style: solid;
    border-color: var(--dark2);

    text-align: center;
}