.folder{
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;

    font-size: 14px;
}

.file{
    background-color: var(--dark3);
    margin: 10px 0;
    border-radius: 10px;
}

.folderName{
    background-color: var(--dark1);
    border-radius: 10px;
    padding: 4px 6px;
}

.path{
    background-color: var(--color1);
    border-radius: 10px;
    padding: 4px 6px;
    font-size: 14px;
}

.openbox{
    /*background-color: aliceblue;*/
    /*height: 48px;*/
}

.openbox .hideWhenFileClick{
    display: none;
}


.apiInformation{
    margin: 10px;
    /*background-color: antiquewhite;*/
}
.fieldtype{
    background-color: blueviolet;
    border-radius: 10px;
    padding: auto;
    margin:5px;
    padding: 2px 6px;
}
.fieldname{
    background-color: crimson;
    border-radius: 10px;
    margin:5px;
    padding: 6px 6px;
}
.possibleValues{
    background-color: blueviolet;
    display: flex;
    border-radius: 10px;
    margin:5px;
}

.value{
    background-color: black;
    border-radius: 10px;
    margin:5px;
    padding: 2px 6px;
}

.field{
    display: flex;
}

.required{
    background-color: green;
}

.notrequired{
    background-color: red;
}