.botListe{
  margin:5px;
  border-radius: 4px;
}

.botListe>div{
  margin: 10px 5px;
  background-color: var(--container);
}

.abox{
  border-radius: 10px;
  background-color: var(--dark4);
  color: white;
  margin:5px;
  width: calc(50% - 10px);
}

.botListeBlock{
  color: white;
  margin:10px;
  display: flex;
}

.eventbox{
  background-color: var(--dark5);
  padding: 10px;
}