:root {
  --white: #ffffff;
  --dark1: #0c0f1d;
  --dark2: #303245;
  --dark3: #3d4054;
  --dark4: #60648b;
  --dark5: #21222d;
  --color1: #363f7e;
  --color2: #3960a7;

  --delete: #8d3030;
  --delete2: #964949;

  --info: rgb(48, 69, 52);
  --warning: #54503d;

  /*newColors*/

  --background: #1b1d2a;
  --container: #2c2f3f;
  --innerContainer: #2c2f3f;
  --innerContainer2: #3e4258;

  --input: #1f212c;

  --button: #454a63;

  --buttonHover: #3a3f55;



}

*{
  font-family: Roboto,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
}




html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  /*background-color: #202225;*/

  background-color: var(--dark1);
  
}

* {
  box-sizing: border-box;
  /*color: white;*/
}

a { text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}


.notLoggedIn{
  width: 100vw;
  height: 100vh;
  /*background-color: #202225;*/
  z-index: 500;
  position: fixed;
  top:0;
  left:0;
}





ul {
  width: 600px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;

  flex-direction: column;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 16px;
  text-decoration: none;
}

li a:hover {

  background-color: #111;
}



.inputContainerWrapper{
  margin-top: 10px;
  margin-bottom: 10px;
}

.inputContainerWrapper>label{
  margin-left: 5px;
}

.inputContainer{
  display: flex;
}

.inputContainer>input{
  width: 100%;
  border-width: 1px;
  border-color: var(--dark1);
  border-style: solid;
  border-radius: 8px;
  padding: 5px;
  background-color: var(--dark3);
}
.inputContainer>input:focus-visible{
  outline: 0;
}


.user{
  border-width: 1px;
  border-color: var(--dark1);
  border-style: solid;
  border-radius: 8px;
  padding: 10px 16px;
  background-color: var(--dark3);
  color: white;
  margin: 5px 0;
}



.navigation{
  width: 200px;
  border-color: #0a0a0a;
  border-width: 1px;
  border-style: solid;
  margin: 16px;
  padding: 16px;
  background-color: var(--dark2);
  border-radius: 16px;
}

.menuSmartphone{
  display: none;
}


.example-wrapper{
  border-color: #0a0a0a;
  border-width: 1px;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}



.content{
  /*padding: 10px;*/
  border-color: #0a0a0a;
  border-width: 0;
  border-style: solid;
  background-color: var(--background);
  border-radius: 10px;
  color: white;
  margin-top: 16px;
  margin-bottom: -8px;
  width: 100%;
  min-height: 10px;

  display: flex;
  flex-direction: column;
  /*overflow: hidden; /*cant use because inner boxes TODO*/
}

.tollesElement{
  margin: 16px 16px;
}

#drop_zone {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.imageHover{

  border: 5px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  background: rgba(255, 255, 255, .5);
  transition: background 0.5s ease;
  /*transition: box-shadow 0.4s;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);*/

}

/*Image upload*/





/*imageliste and upload*/





.removeIcon{
  position: absolute;
  right:0;
  top:0;
  color: red;
  cursor: pointer;
}


.image{
  max-width:100px;
  max-height:100px;
  width: auto;
  height: auto;
  margin: auto;
}

#navSmartphone{
  display: none;
}

.showOnSmallSize{
  display: none;
}






.button{
  margin: 5px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}



::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
   background-color: #5c5f6b;
   border-radius: 9px;
   border: 5px solid transparent;
   background-clip: content-box;
}

::-webkit-scrollbar-track {
   background-color: transparent;
}


::-webkit-scrollbar-track-piece {
   background-color: transparent;
}

#content{
  max-width: 800px;
  border-radius: 10px;
  /*margin: 20px;*/
  /*display:none;*/


  /*zesz*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  flex-direction: column;
  /*padding-top: 20px;*/
}

.navItemWrapper{
  position: fixed;
  /*top:20px;*/
  height: calc(100vh - 32px);
  margin: 16px 0;
  width: 240px;

  overflow-x: hidden;
  overflow-y: auto;
  /*background-color: lightseagreen;*/
  display: flex;
  flex-direction: column;
}

.navItemInnerWrapper{
  /*width: calc(240px - 16px);*/
  width: calc(240px - 16px);/*16px wegen scrollbar*/
  background-color: var(--dark2);
  border-radius: 10px;
}

.navigationMain{

  position: unset;
  overflow: auto;

  display:flex;
  border-width: 0;
  min-width: 240px;
  margin-left: 16px;
  border-radius: 10px;
  height: 100vh;

  max-width: 240px;

/*zesz*/
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}






@media (max-width: 500px) {

  .showOnBigSize{
    display: none;
  }

  .navigationMain{

      position: fixed;
      overflow: auto;

      bottom: 50px;
      background-color: var(--dark2);
      z-index: 500;
      top: unset;
      /*height: 400px;*/
      justify-content: flex-start;
      width: 100%;
      border-bottom-width: 0;
      transition: bottom 0.4s;
      margin: 0;
      border-radius: unset;

      height: calc(100vh - 50px);
      max-width: unset;
  }

  .navItemWrapper{
      /*top:0;*/
      height: calc(100vh - 50px);/*50 wegen nav bar */
      width: 100%;
      margin-top: 0;
      overflow-x: hidden;
  }

  .navItemInnerWrapper{
      border-radius: 0;
      width: calc(100vw - 16px);
  }

  .enabled{
      bottom: 50px;
  }

  .disabled{
      bottom: calc(-100vh + 100px);

      -moz-animation: cssAnimation 0s ease-in 0.4s forwards;
      /* Firefox */
      -webkit-animation: cssAnimation 0s ease-in 0.4s forwards;
      /* Safari and Chrome */
      -o-animation: cssAnimation 0s ease-in 0.4s forwards;
      /* Opera */
      animation: cssAnimation 0s ease-in 0.4s forwards;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
  }

  @keyframes cssAnimation {
      to {
          width:0;
          height:0;
          overflow:hidden;
      }
  }
  @-webkit-keyframes cssAnimation {
      to {
          width:0;
          height:0;
          visibility:hidden;
      }
  }


  .navigation{
      border-color: var(--dark2);
  }



  .menuSmartphone{
      display: block;
      height: 40px;
      background: var(--dark2);
      width: 100%;
  }
  #content{
      position: fixed;
      overflow-y: auto;
      overflow-x: hidden;
      width: 100vw;

      flex-direction: column;
      height: calc(100% - 50px);
      display:flex;
      justify-content: flex-start;
      z-index: 100;
      top: 0;
  }

  .content{
      /*overflow-x: hidden;*/
      /*width: 100vw;*/
      min-height: unset;
      margin: 16px;
      margin-right: 0; /*wegen scrollbar weil das 16px breit ist */
      width: calc(100vw - 16px - 16px); /*margin und scroll jeweils 16px */
      
  }



  #navSmartphone{
      z-index: 600;
      position: fixed;
      bottom: 0;
      height: 50px;
      width: 100%;
      background-color: var(--dark3);

      display: flex;
      align-items: center;
      justify-content: space-around;
  }


  .closebutton{
      display: block;
      position: sticky;
      top: 0;
      border-color: white;
      border-width: 0;
      border-style: solid;
      border-bottom-width: 1px;
      background-color: var(--dark3);
      height: 50px;

  }
  .closeIcon{
      margin-top: 13px;
      margin-left: 13px;
  }
}


/*Google icons css*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-light { color: rgb(255, 255, 255); }





/*-----------------------------------------*/

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.box {
  border: 3px solid #666;
  background-color: #ddd;
  border-radius: .5em;
  padding: 10px;
  cursor: move;
}

.box.over {
  border: 3px dotted #666;
}





/*only test*/
.yourDiv{
  /*background-color: rgba(255, 0, 0, 0.2);*/ /*for test*/
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2; /* need to be higher than textmodule.box */
  overflow: hidden;
  border-radius: 6px;
};


.draggableBox{
  cursor: move;
};

