.buttonWrapper {
    height: 40px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    min-width: max-content;
}

/*cursor overwrite*/

.cursorGrab {
    cursor: grab;
}

.iconWrapper {
    height: 24px;
    width: 24px;
    margin: auto 0 auto 12px;
    flex-shrink: 0;
}

/* If the icon is the only or last element, give it right padding */
.iconWrapper:last-child {
    margin-right: 12px;
}

.text {
    margin: auto 12px auto 8px;
    white-space: nowrap;
    flex-shrink: 0;
}

/* If no icon is present, give text standard left spacing */
.text:first-child {
    margin-left: 12px;
}

/*Color*/
.color {
    background-color: var(--color1);
}

.colorHover:hover {
    background-color: var(--color2);
}

.color2 {
    background-color: var(--button);
}

.colorHover2:hover {
    background-color: var(--buttonHover);
}

.colorNormal {
    background-color: var(--button);
}

.colorHoverNormal:hover {
    background-color: var(--buttonHover);
}


.colorDelete {
    background-color: var(--delete)
}

.colorHoverDelete:hover {
    background-color: var(--delete2)
}