.textfield{
    background-color: var(--input);
    border: none;
    border-style: none;
    border-radius: 6px;
    height: 40px;
    width: 100%;
    color: white;
  }
.textfield:focus{
    outline-width: 3px;
    outline-style: solid;
    outline-color: var(--color1);
}