.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}
  
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.backToHome {
  margin: 3rem 0 0;
}



.body{
  position: absolute;
  width: calc(100vw - 16px);
  /*height: 100%;*/
  display: flex;
  align-items: flex-start;
  justify-content: center;
}


@media (max-width: 500px) {

  .body{
    width: 100vw;
    height: calc(100% - 50px);
  }
}



.notLoggedIn{
  width: 100vw;
  height: 100vh;
  /*background-color: #202225;*/
  z-index: 500;
  position: fixed;
  top:0;
  left:0;
}


.link{
  /*background-color: #111;*/
  border-color: white;
  border-width: 0px;
  border-style: solid;
  border-radius: 5px;
  margin: 6px;
  position: relative;
}

.link.active{
  /*background-color: #111;*/
  background-color: var(--color1);
}

.linkContainer{
  color: white;
  text-decoration: none;
  cursor: pointer;
}


.inputContainerWrapper{
  margin-top: 10px;
  margin-bottom: 10px;
}

.inputContainerWrapper>label{
  margin-left: 5px;
}

.inputContainer{
  display: flex;
}

.inputContainer>input{
  width: 100%;
  border-width: 1px;
  border-color: var(--dark1);
  border-style: solid;
  border-radius: 8px;
  padding: 5px;
  background-color: var( --dark3);
}
.inputContainer>input:focus-visible{
  outline: 0;
}

.user{
  border-width: 1px;
  border-color: var(--dark1);
  border-style: solid;
  border-radius: 8px;
  padding: 10px 16px;
  background-color: var(--dark3);
  color: white;
  margin: 5px 0;
}



.navigation{
  width: 200px;
  border-color: #0a0a0a;
  border-width: 1px;
  border-style: solid;
  margin: 16px;
  padding: 16px;
  background-color: var(--dark2);
  border-radius: 16px;
}

.menuSmartphone{
  display: none;
}


.example-wrapper{
  border-color: #0a0a0a;
  border-width: 1px;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}



.content{
  /*padding: 10px;*/
  border-color: #0a0a0a;
  border-width: 0;
  border-style: solid;
  background-color: var(--dark2);
  border-radius: 10px;
  color: white;
  margin-top: 16px;
  margin-bottom: -8px;
  width: 100%;
  min-height: 100px;
}

.tollesElement{
  margin: 16px 16px;
}

#drop_zone {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.imageHover{

  border: 5px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  background: rgba(255, 255, 255, .5);
  transition: background 0.5s ease;
  /*transition: box-shadow 0.4s;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);*/

}




.removeIcon{
  position: absolute;
  right:0;
  top:0;
  color: red;
  cursor: pointer;
}


.image{
  max-width:100px;
  max-height:100px;
  width: auto;
  height: auto;
  margin: auto;
}

#navSmartphone{
  display: none;
}

.showOnSmallSize{
  display: none;
}






.button{
  margin: 5px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}


#content{
  max-width: 600px;
  border-radius: 10px;
  /*margin: 20px;*/
  /*display:none;*/


  /*zesz*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  flex-direction: column;
  /*padding-top: 20px;*/
}

.navItemWrapper{
  position: fixed;
  /*top:20px;*/
  height: calc(100% - 250px);
  margin: 200px 0 16px 0;
  width: 280px;

  overflow-x: hidden;
  overflow-y: auto;
  /*background-color: lightseagreen;*/
  display: flex;
  flex-direction: column;
  overscroll-behavior: contain;
}

.navItemInnerWrapper{
  /*width: calc(240px - 16px);*/
  width: calc(280px - 16px);/*16px wegen scrollbar*/
  background-color: var(--background);
  border-radius: 10px;
}

.navigationMain{

  position: unset;
  overflow: auto;

  display:flex;
  border-width: 0;
  min-width: 240px;
  margin-left: 16px;
  border-radius: 10px;
  height: 100vh;

  max-width: 240px;

/*zesz*/
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}






@media (max-width: 500px) {

  .showOnBigSize{
    display: none;
  }

  .navigationMain{

      position: fixed;
      overflow: auto;

      bottom: 50px;
      background-color: var(--dark2);
      z-index: 500;
      top: unset;
      /*height: 400px;*/
      justify-content: flex-start;
      width: 100%;
      border-bottom-width: 0;
      transition: bottom 0.4s;
      margin: 0;
      border-radius: unset;

      height: calc(100vh - 50px);
      max-width: unset;
  }

  .navItemWrapper{
      /*top:0;*/
      height: calc(100vh - 50px);/*50 wegen nav bar */
      width: 100%;
      margin-top: 0;
      overflow-x: hidden;
  }

  .navItemInnerWrapper{
      border-radius: 0;
      width: calc(100vw - 16px);
  }

  .enabled{
      bottom: 50px;
  }

  .disabled{
      bottom: calc(-100vh + 100px);

      -moz-animation: cssAnimation 0s ease-in 0.4s forwards;
      /* Firefox */
      -webkit-animation: cssAnimation 0s ease-in 0.4s forwards;
      /* Safari and Chrome */
      -o-animation: cssAnimation 0s ease-in 0.4s forwards;
      /* Opera */
      animation: cssAnimation 0s ease-in 0.4s forwards;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
  }

  @keyframes cssAnimation {
      to {
          width:0;
          height:0;
          overflow:hidden;
      }
  }
  @-webkit-keyframes cssAnimation {
      to {
          width:0;
          height:0;
          visibility:hidden;
      }
  }


  .navigation{
      border-color: var(--dark2);
  }



  .menuSmartphone{
      display: block;
      height: 40px;
      background: var(--dark2);
      width: 100%;
  }
  #content{
      position: fixed;
      overflow-y: auto;
      overflow-x: hidden;
      width: 100vw;

      flex-direction: column;
      height: calc(100% - 50px);
      display:flex;
      justify-content: flex-start;
      z-index: 100;
      top: 0;
  }

  .content{
      /*overflow-x: hidden;*/
      /*width: 100vw;*/
      min-height: unset;
      margin: 16px;
      margin-right: 0; /*wegen scrollbar weil das 16px breit ist */
      width: calc(100vw - 16px - 16px); /*margin und scroll jeweils 16px */
  }



  #navSmartphone{
      z-index: 600;
      position: fixed;
      bottom: 0;
      height: 50px;
      width: 100%;
      background-color: var(--dark3);

      display: flex;
      align-items: center;
      justify-content: space-around;
  }


  .closebutton{
      display: block;
      position: sticky;
      top: 0;
      border-color: white;
      border-width: 0;
      border-style: solid;
      border-bottom-width: 1px;
      background-color: var(--dark3);
      height: 50px;

  }
  .closeIcon{
      margin-top: 13px;
      margin-left: 13px;
  }
}

/*Google icons css*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-light { color: rgb(255, 255, 255); }

.menuButtonActive{
  background-color: var(--color1);
}

.linkElementContainer{
  border-radius: 100%;
  width: 26px;
  height: 26px;
  overflow: hidden;
  margin-right: 6px;
}

.iconWrapper{
  height: 26px;
  width: 26px;
  margin: auto 2px;
  margin-right: 6px;
}


/**/

.pluginCount{
  background-color: var(--color1);
  width: 20px;
  height: 20px;
  border-radius: 50px;
  font-size: 14px;
  
  text-align: center;
}

.profileInfo{
  color:white;
  display: flex;
  padding: 14px 14px;
  border-radius: 10px 10px 0px 0px;
  padding-bottom: 10px;
  position: relative;
}

.logoutContainer{
  background-color: var(--dark4);
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  padding: 4px;
}


.projectAlias{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 40px;
  -moz-padding-start: calc(10px - 3px);
  padding-left: 10px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  background-color: var(--color1);
}

.projectAlias:focus::-ms-value {
  background-color: transparent;
}

.projectAlias::-ms-expand {
  display: none;
  border-radius: 0px;
}

.selectWrapper {
  /* ... */
  position: fixed;
  /* top: 20px; */
  /*height: calc(65px);*/
  /*padding-right: 15px;*/
  margin-right: 15px;
  width: 265px;
  /* background-color: lightseagreen; */
  display: flex;
  flex-direction: column;

  z-index: 100;
  
  background-color: var(--background);
  color: #fff;
  /*border-bottom: var(--dark3) 1px solid;
  border-left: var(--dark3) 1px solid;*/
  border-radius: 0 0 0 4px;
}

.selectWrapper >div {
  
  padding: 6px;
  user-select: none;
  cursor: pointer;
}




/*-------------------*/

.selectedProjectName{
  background-color: var(--color1);
}

.selectedProjectName{
  background-color: var(--color1);
}

/*---- added right Content Container*/

.rightMainContent{
  max-width: 800px;
    border-radius: 10px;
    /* margin: 20px; */
    /* display: none; */
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    flex-direction: column;
}

.rightNav{
  
  background-color: var(--background);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 65px;
  
  border-radius: 0 0 4px 0;
  border-bottom: var(--dark3) 1px solid;
  border-right: var(--dark3) 1px solid;
}

.profileMenu{
  position: absolute;
  top:60px;
  right: -6px;
  width: 100px;
  background-color: var(--background);
  border: red 1px solid;
  padding: 10px;
  border-radius: 4px;
}


.projectMenuOpen{
  padding: 8px;
  position: fixed;
  height: 100px;
  width: 265px;
  top: 55px;
  
  
}

.projectMenuOpen >div{
  background-color: var(--dark2);

  height: 100%;
  
  overflow-x: hidden;
  overflow-y: auto;
    /* ... */
    
    /* top: 20px; */
    
    padding-right: 10px;
    
    
    /* background-color: lightseagreen; */
    display: flex;
    flex-direction: column;
    
    color: #fff;
  
}

.projectMenuOpen >div >div:hover {
  
  background-color: var(--color1);
  
}

.projectMenuOpen >div >div{
  padding: 8px;
  margin: 6px;
  width: 100%;
  border-radius: 4px;
  
}

.projectMenuOpen >div{
  border-radius: 4px;
  background-color: var(--dark2);
}

.activeProjectAlias{
  
  height: 100%;
  margin: 6px;
  border-radius: 4px;
  background-color: var(--dark2);
}

.activeProjectAlias >div{
  
  height: 100%;
  
  
}