name: Deploy to Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            # Gehe zum Projektordner (Definiert in Github Secrets als PROJECT_PATH)
            cd ${{ secrets.PROJECT_PATH }}
            
            # Code aktualisieren
            git pull origin master
            
            # Dependencies installieren
            npm install
            
            # Website bauen
            npm run web:build
            
            # PM2 Prozesse neu starten mit aktualisierter Umgebung
            pm2 reload process.config.js --update-env
