.roles{
    width: 200px;
    height: 40px;
    min-width: 100px;
    min-height: 40px;
    padding: 4px;
    /*margin: 0 4px;*/
    cursor: pointer;
    border-radius: 6px;

    font-size: 14px;
    background-color: var(--input);
}

.selected{
    background-color: var(--color1);
}


.channelIcon{
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    overflow: hidden;
}

.fieldWrapper{
    display: flex;
}

.roleIcon{
    height: 20px;
    width: 20px;
    min-height: 20px;
    max-height: 20px;
    min-width: 20px;
    max-width: 20px;
    margin: 4px;
}