.text{
    width: 100%;
    /*width: 100px;
    height: 40px;
    /*min-width: 100px;;*/
    /*min-height: 40px;*/
    height: 160px;
    padding: 4px;
    /*margin: 0 4px;*/
    cursor: pointer;
    border-radius: 4px;

    font-size: 14px;
    background-color: var(--input);
}

.textarea{
    resize: none;
    overflow: auto;
    width: 100%;
    height: 100%;
}