.text{
    width: 200px;
    height: 40px;
    min-width: 100px;;
    min-height: 40px;
    padding: 4px;
    /*margin: 0 4px;*/
    cursor: pointer;
    border-radius: 6px;

    font-size: 14px;
    background-color: var(--input);
}